{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Top News Slider Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">

            {% for po in popular %}
            <div class="d-flex">
                <img src="{{po.image_1.url}}" style="width: 80px; height: 80px; object-fit: cover;">
                <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                    <a class="text-secondary font-weight-semi-bold" href="{% url 'main:post' po.slug %}">
                        {{po.title|slice:50}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Top News Slider End -->


<!-- Main News Slider Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">

                    {% for po in latest %}
                    <div class="position-relative overflow-hidden" style="height: 435px;">
                        <img class="img-fluid h-100" src="{{po.image_1.url}}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-1">
                                <a class="text-white" href="">
                                    {{po.category}}
                                </a>
                                <span class="px-2 text-white">/</span>
                                <a class="text-white" href="">
                                    {{po.date_created|date}}
                                </a>
                            </div>
                            <a class="h2 m-0 text-white font-weight-bold" href="{% url 'main:post' po.slug %}">
                                {{po.title}}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Main News Slider End -->


<!-- Featured News Slider Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
            <h3 class="m-0">Featured</h3>
            <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
        </div>
        <div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">

            {% for po in post %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                <img class="img-fluid w-100 h-100" src="{{po.image_1.url}}" style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-1" style="font-size: 13px;">
                        <a class="text-white" href="">
                            {{po.category}}
                        </a>
                        <span class="px-1 text-white">/</span>
                        <a class="text-white" href="{% url 'main:post' po.slug %}">
                            {{po.date_created|date}}
                        </a>
                    </div>
                    <a class="h4 m-0 text-white" href="{% url 'main:post' po.slug %}">
                        {{po.title|slice:27}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<!-- Featured News Slider End -->


<!-- Category News Slider Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">

            {% for cat in all_categories %}
            <div class="col-lg-6 py-3">
                <div class="bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">
                        {{cat.name}}
                    </h3>
                </div>
                <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                    {% for po in cat_set.all %}
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="{{po.image_1.url}}" style="object-fit: cover;">
                        <div class="overlay position-relative bg-light">
                            <div class="mb-2" style="font-size: 13px;">
                                <a href="">
                                    {{po.category}}
                                </a>
                                <span class="px-1">/</span>
                                <span>
                                    {{po.date_created|date}}
                                </span>
                            </div>
                            <a class="h4 m-0" href="{% url 'main:post' po.slug %}">
                                {{po.title}}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



            {% endfor %}



        </div>
    </div>
</div>
</div>
</div>
<!-- Category News Slider End -->


<!-- News With Sidebar Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Popular</h3>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="{{first.image_1.url}}"
                                style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">{{first.category}}</a>
                                    <span class="px-1">/</span>
                                    <span>
                                        {{first.date_created|date}}
                                    </span>
                                </div>
                                <a class="h4" href="">
                                    {{first.title}}
                                </a>
                                <p class="m-0">
                                    {{first.excerpt|slice:100}}
                                </p>
                            </div>
                        </div>
                        
                        {% for po in all %}
                            <div class="d-flex mb-3">
                                <img src="{{po.image_1.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">
                                            {{po.category}}
                                        </a>
                                        <span class="px-1">/</span>
                                        <span>
                                            {{po.date_created|date}}
                                        </span>
                                    </div>
                                    <a class="h6 m-0" href="{% url 'main:post' po.slug %}">
                                        {{po.title}}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6">
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{last.image_1.url}}" style="object-fit: cover;">
                        <div class="overlay position-relative bg-light">
                            <div class="mb-2" style="font-size: 14px;">
                                <a href="">{{last.category}}</a>
                                <span class="px-1">/</span>
                                <span>
                                    {{last.date_created|date}}
                                </span>
                            </div>
                            <a class="h4" href="">
                                {{last.title}}
                            </a>
                            <p class="m-0">
                                {{last.excerpt|slice:100}}
                            </p>
                        </div>
                    </div>
                        {% for po in post %}
                        <div class="d-flex mb-3">
                            <img src="{{po.image_1.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">
                                        {{po.category}}
                                    </a>
                                    <span class="px-1">/</span>
                                    <span>
                                        {{po.date_created|date}}
                                    </span>
                                </div>
                                <a class="h6 m-0" href="{% url 'main:post' po.slug %}">
                                    {{po.title}}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Latest</h3>
                            <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="{% static 'img/news-500x280-5.jpg ' %}"
                                style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h4" href="">Est stet amet ipsum stet clita rebum duo</a>
                                <p class="m-0">Rebum dolore duo et vero ipsum clita, est ea sed duo diam ipsum, clita at
                                    justo, lorem amet vero eos sed sit...</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/news-100x100-5.jpg ' %}"
                                style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                                style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/news-100x100-1.jpg ' %}"
                                style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                                style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="{% static 'img/news-500x280-6.jpg ' %}"
                                style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 14px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h4" href="">Est stet amet ipsum stet clita rebum duo</a>
                                <p class="m-0">Rebum dolore duo et vero ipsum clita, est ea sed duo diam ipsum, clita at
                                    justo, lorem amet vero eos sed sit...</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/news-100x100-2.jpg ' %}"
                                style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                                style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="{% static 'img/news-100x100-3.jpg ' %}"
                                style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3"
                                style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">Technology</a>
                                    <span class="px-1">/</span>
                                    <span>January 01, 2045</span>
                                </div>
                                <a class="h6 m-0" href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'sidebar.html' %}
            
        </div>
    </div>
</div>
</div>
<!-- News With Sidebar End -->

{% endblock content %}