{% extends 'base.html' %}
{% load static %}
<style>
    @media screen and (max-width: 480px) {
    img {
         width: 200px;
    }
}
</style>
{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="container">
        <nav class="breadcrumb bg-transparent m-0 p-0">
            <a class="breadcrumb-item" href="{% url 'main:index' %}">Home</a>
            <a class="breadcrumb-item" href="#">Category</a>
            <span class="breadcrumb-item active">
                {{post.category.name}}
            </span>
        </nav>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- News With Sidebar Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            
                <div class="row">

                    <div class="col-lg-9">
                        <div class="mb-3">
                            <img src="{{post.image_1.url}}" class="w-100">
                            
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="">
                                        {{post.category}}
                                    </a>
                                    <span class="px-1">/</span>
                                    <span>
                                        {{post.date_created|date}}
                                    </span>
                                </div>
                                <a class="h6 m-0" href="{% url 'main:post' post.slug %}">
                                    {{post.title}}
                                </a>
                                <div class="w-100" >
                                    {{post.excerpt}}
                                    <p class="text-wrap"style="width: 6rem;">
 {{post.content|safe}}

                                    </p>
                                   
                                </div>
                           
                        </div>
                    </div>


                </div>
            
            </div>

            {% include 'sidebar.html' %}
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
{% endblock content %}